{% extends "base.html" %}

{% block title %} - Package Index{% endblock %}

{% load dojango_base %}
{% if not DOJANGO %}
	{% set_dojango_context %}
{% endif %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Latest Packages" href="/repository/feeds/latest/" />
<link rel="alternate" type="application/rss+xml" title="Top Rated Packages" href="/repository/feeds/top-rated/" />
<link rel="alternate" type="application/rss+xml" title="Featured Packages" href="/repository/feeds/featured/" />
<link type="text/css" rel="stylesheet" href="/site_media/pages/repository.css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/form/resources/Rating.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/layout/resources/RotatorContainer.css" />
<script type="text/javascript">
  dojo.require("lucidsite.repository");
</script>
{% endblock %}

{% block main %}
<div class="content withsidebar">
    <div class="sidebar">
        {% if user.is_authenticated %}
        <h2>Account</h2>
        <ul>
        	<li><a href="{% url repository-new-package %}">Submit a Package</a></li>
        	<li><a href="{% url repository-user-packages %}">My Packages</a></li>
        </ul>
        {% endif %}
        <h2>Categories</h2>
        <ul>
        {% for name, label in categories %}
        <li><a href="{% url repository-category name %}">{{ label }}</a></li>
        {% endfor %}
        </ul>
        <h2>Search</h2>
           	<form action="{% url repository-search %}" method="GET">
       		    <input name="q" type="text" />
       	    	<input type="submit" value="Search" />
           	</form>
        <h2>Feeds</h2>
        <ul>
            <li class="rssbullet">
                Latest Packages
                <a href="/repository/feeds/latest/" class="nofloat" rel="nofollow">
                    {% include "rssbutton.html" %}
                </a>
            </li>
            <li class="rssbullet">
                Top Rated Packages
                <a href="/repository/feeds/top-rated/" class="nofloat" rel="nofollow">
                    {% include "rssbutton.html" %}
                </a>
            </li>
            <li class="rssbullet">
                Featured Packages
                <a href="/repository/feeds/featured/" class="nofloat" rel="nofollow">
                    {% include "rssbutton.html" %}
                </a>
            </li>
        </ul>
    </div>
    <div class="center">
                <h1>Packages<a href="javascript://" onClick="lucidsite.repository.toggle('index-help');" class="flag">?</a></h1>
                <div class="text" id="index-help">
	                <p>
	                	Lucid's package repository contains additional packages that can be installed to provide a component of the desktop.
	                	It contains packages provided by the Lucid Desktop Project, as well as third-party packages.
	                	They provide additional themes, apps, translations, and other enhancements.
	                </p>
	                <p>
	                	Packages here are generally safe, but approach unverified packages with caution,
	                	and be sure to check the checksum of any packages you download (even if it's verified).
	                </p>
	                <p>
	                	<a href="javascript://" onClick="lucidsite.repository.toggle('index-help');">Hide</a>
	                </p>
                </div>
                <h2>Featured Packages</h2>
<div dojoType="dojox.layout.RotatorContainer" id="featured-rotator" showTabs="true" cycles="4" suspendOnHover="true" autoStart="true">
{% for version in featured %}
    <div dojoType="dijit.layout.ContentPane" title="{{ forloop.counter }}">
        <h2>{{ version.package.name }} ({{ version.name }})</h2>
        {% if version.package.screenshot %}
            {% load thumbnail %}
            <a href="{{ version.package.get_absolute_url }}">
                <img class="screenshot" src="{% thumbnail version.package.screenshot 200x200 %}" />
            </a>
        {% endif %}
        <div>
            {{ version.package.description|truncatewords:65 }}
        </div>
        <div class="learn-more-link">
            <a href="{{ version.package.get_absolute_url }}">Learn More&rarr;</a>
        </div>
    </div>
{% endfor %}
</div>

<div dojoType="dijit.layout.TabContainer" id="index-package-tabs">
	<div dojoType="dijit.layout.ContentPane" title="Top Rated">
		<div class="packageList">
			{% for version in top_rated %}
				{% include "repository/versionListItem.html" %}
			{% endfor %}
		</div>
	</div>
	<div dojoType="dijit.layout.ContentPane" title="Latest">
		<div class="packageList">
			{% for version in latest %}
				{% include "repository/versionListItem.html" %}
			{% endfor %}
		</div>
	</div>
</div>
    </div>
    <div class="content-bottom"></div>
</div>
{% endblock %}
