{% extends "base_content.html" %}

{% block title %} - Package Index{% endblock %}

{% load dojango_base %}
{% if not DOJANGO %}
	{% set_dojango_context %}
{% endif %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="/site_media/pages/repository.css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/widget/Rating/Rating.css" />
<script type="text/javascript">
  dojo.require("lucidsite.repository");
</script>
{% endblock %}

{% block content %}
<h1>Package Index</h1>
<div class="filter">
	<b>By letter:</b>
		{% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"|make_list %}
			{% if not forloop.first %}
			|
			{% endif %}
			<a href="{% url repository-letter letter %}">{{ letter }}</a>
		{% endfor %}
</div>
<div class="filter">
	<b>By category:</b>
	{% for name, label in categories %}
		{% if not forloop.first %}
		|
		{% endif %}
		<a href="{% url repository-category name %}">{{ label }}</a>
	{% endfor %}
</div>
<div class="filter">
	<form action="{% url repository-search %}" method="GET">
		<b>By name:</b>
		<input name="q" type="text" />
		<input type="submit" value="Search" />
	</form>
</div>
<h2>About</h2>
<div class="text">
	<p>
		Lucid's package repository contains additional packages that can be installed to provide a component of the desktop.
		It contains packages provided by the Lucid Desktop Project, as well as third-party packages.
		They provide additional themes, apps, translations, and other enhancements.
	</p>
	<p>
		Packages here are generally safe, but approach unverified packages with caution,
		and be sure to check the checksum of any packages you download (even if it's verified).
	</p>
</div>
{% if user.is_authenticated %}
<div class="userPackageLinks">
	<a href="{% url repository-new-package %}">Submit a Package</a>
	|
	<a href="{% url repository-user-packages %}">My Packages</a>
</div>
{% endif %}

<h2>Latest Packages</h2>
<div class="packageList">
	{% for version in latest %}
		{% include "repository/packageListItem.html" %}
	{% endfor %}
</div>
<h2>Top Rated Packages</h2>
<div class="packageList">
	{% for version in top_rated %}
		{% include "repository/packageListItem.html" %}
	{% endfor %}
</div>
{% endblock %}
