<div class="item">
	<div class="rating">
		<div>
			<noscript>{{ version.get_rating.score|floatformat:1 }}/5</noscript>
			<span dojoType="lucidsite.repository.Rating" noInput="true" numStars="5" value="{{ version.get_rating.score|floatformat:0 }}"></span>
		</div>
		<div>{{ version.get_rating.num_ratings }} votes</div>
	</div>
	<div class="title">
		<a href="{{ version.get_absolute_url }}">{{ version.package.name }} <span class="version">{{ version.name }}</span></a>
		{% if version.is_new %}
			<span class="flag new">New</span>
		{% endif %}
		{% if version.verified_safe %}
			<span class="flag verified">Verified</span>
		{% endif %}
		{% if version.is_latest %}
			<span class="flag latest">Latest</span>
		{% endif %}
	</div>
	<div class="released">Released {{ version.creation_date|date:"F j, Y" }}</div>
</div>