{% extends "base_content.html" %}

{% block title %} - {{ package.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" media="screen" href="/site_media/pages/repository.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/form/resources/Rating.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/image/resources/image.css" />
<script type="text/javascript">
  dojo.require("lucidsite.repository");
</script>
{% endblock %}

{% block content %}
{% if package.user_is_maintainer %}
    <div class="management-links">
		<a href="{% url repository-edit-package package.sysname %}">Edit</a>
        |
        <a href="{% url repository-delete-package package.sysname %}">Delete</a>
    </div>
{% endif %}
<h1>
	{{ package.name }}
</h1>
<div class="text">
    {% if package.screenshot %}
        {% load thumbnail %}
        <a href="/site_media/{{ package.screenshot }}" dojoType="dojox.image.Lightbox" title="Larger Screenshot of {{ package.name }}">
            <img class="screenshot" src="{% thumbnail package.screenshot 300x150 %}" />
        </a>
    {% endif%}
	<p>
		{{ package.description|linebreaks }}
	</p>
</div>
<table class="package-stats">
	<tr>
		<td class="field">Category:</td>
		<td><a href="{% url repository-category package.category %}">{{ package.category }}</a></td>
	</tr>
	<tr>
		<td class="field">Homepage:</td>
		<td><a rel="nofollow" href="{{ package.url }}">{{ package.url }}</a></td>
	</tr>
	<tr>
		<td class="field">Maintaner:</td>
		<td><a href="{% url accounts-profile package.maintainer.username %}">{{ package.maintainer }}</a></td>
	</tr>
	<tr>
		<td class="field">License:</td>
		<td><a href="{{ package.license_link }}" rel="nofollow">{{ package.license }}</a></td>
	</tr>

</table>
{% if version %}
<h2>Latest Version ({{ version.name }})</h2>
<div>
    {% include "repository/versionPage.html" %}
</div>
{% endif %}
<div dojoType="dijit.TitlePane" class="all-versions" open="false" title="All Versions">
    <div class="packageList">
	    {% if not package.get_versions_desc %}
		    No versions available yet
	    {% else %}
		    {% for version in package.get_versions_desc %}
		        {% include "repository/versionListItem.html" %}
	        {% endfor %}
        {% endif %}
    </div>
    {% if package.user_is_maintainer %}
    <div>
        <a href="{% url repository-new-version package.sysname %}">Create New Version</a>
    </div>
    {% endif %}
</div>
{% load comments %}
<h2>Comments</h2>
<div>
   {% get_comment_list for package as comment_list %}
   {% for comment in comment_list %}
    <div class="comment" id="c{{ comment.id }}">
        <h3>
            {% if comment.user_url %}
                <a href="{{ comment.user_url }}" rel="nofollow">
            {% endif %}
                {{ comment.user_name|escape }}{% if comment.user_url %}</a>{% endif %}
            <span class="small quiet">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}</span>
        </h3>
        {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
    </div>
    {% endfor %}
</div>
<h3>Add a Comment</h3>
<div>
    {% render_comment_form for package %}
</div>
{% endblock %}
