<div class="item">
	<div class="rating">
        {% if package.get_latest %}
		<div>
			<noscript>{{ package.get_latest.get_rating.score|floatformat:1 }}/5</noscript>
			<span dojoType="lucidsite.repository.Rating" noInput="true" numStars="5" value="{{ package.get_latest.get_rating.score|floatformat:0 }}"></span>
		</div>
		<div>{{ package.get_latest.get_rating.num_ratings }} votes</div>
        {% endif %}
	</div>
    {% if package.screenshot %}
        {% load thumbnail %}
        <img class="screenshot" src="{% thumbnail package.screenshot 60x30 %}" />
    {% endif %}
	<div class="title">
		<a href="{{ package.get_absolute_url }}">{{ package.name }} <span class="version">{{ package.get_latest.name }}</span></a>
		{% if package.get_latest.is_new %}
			<span class="flag new">New</span>
		{% endif %}
		{% if package.get_latest.verified_safe %}
			<span class="flag verified">Verified</span>
		{% endif %}
	</div>
    {% if package.get_latest %}
    	<div class="released">Released {{ package.get_latest.creation_date|date:"F j, Y" }}</div>
    {% else %}
        <div class="released">No Releases Yet</div>
    {% endif %}
</div>
