{% extends "base_content.html" %}

{% block title %} - {{ package.name }} {{ version.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" media="screen" href="/site_media/pages/repository.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/form/resources/Rating.css" />
<script type="text/javascript">
  dojo.require("lucidsite.repository");
</script>
{% endblock %}

{% block content %}
{% if package.user_is_maintainer %}
    <div class="management-links">
		<a href="{% url repository-edit-version package.sysname,version.name %}">Edit</a>
        |
        <a href="{% url repository-delete-version package.sysname,version.name %}">Delete</a>
    </div>
{% endif %}

	<h1>
		{{ package.name }} {{ version.name }}
	</h1>
	{% include "repository/versionPage.html" %}
	<a href="{{ package.get_absolute_url }}">&larr; Back to package</a>
{% endblock %}
