#blogposts {
	padding-top: 5px;
	clear: both;
}

.slideshow {
    float: left;
    margin-top: 40px;
}

.intro-content {
    margin-left: 400px;
    padding-left: 8px;
}

.slideShowTitle {
    display: none;
}
