#blogposts {
	padding-top: 5px;
	clear: both;
}

.slideshow {
    float: left;
    margin-top: 30px;
}

.intro-content {
    margin-left: 400px;
    padding-left: 8px;
}

.slideShowTitle {
    display: none;
}

.button-row {
    height: 78px;
    width: 422px;
    margin-left: auto;
    margin-right: auto;
}

.button-row div {
    float: left;
}

.link-row {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8pt;
}

.link-row ul {
    padding-left: 25px;
}

.download-button {
    background: url('../images/layout/download-button.png') no-repeat;
    width: 200px;
    height: 78px;
    position: relative;
}

.download-button div {
    position: absolute;
    top: 45px;
    left: 36px;
    color: #efefef;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.demo-button {
    background: url('../images/layout/demo-button.png') no-repeat;
    width: 200px;
    height: 78px;
}

.separator {
    background: url('../images/layout/separator.png') no-repeat;
    height: 75px;
    width: 2px;
    margin: 3px 10px;
}

#intro h1 {
    font-size: 25pt;
    margin-top: 0px;
    padding-top: 10px;
}
