#index-package-tabs {
	height: 350px;
}

#index-package-tabs .dijitTabPane {
	padding: 5px;
}

#index-help {
	border: 1px solid #aaaa99;
	background-color: #ffff99;
	overflow: hidden;
	display: none;
}

#index-help p {
	margin: 10px 5px 10px 5px;
}

.filter {
	padding-bottom: 2px;
	margin-bottom: 2px;
	border-bottom: 1px dotted #aaa;
}

.warn {
	color: red;
	text-decoration: underline;
	font-style: italic;
}

.packageList {
	
}

.packageList .item {
	border-bottom: 1px dotted #aaa;
	clear: both;
}

.packageList .title {
	font-weight: bold;
}

.packageList .version {
	font-weight: normal;
	font-style: italic;
}

.packageList .released {
	color: #444;
}

.packageList .rating {
	float: right;
	text-align: center;
}

.packageList a {
	color: #000;
	
}

.flag {
	position: relative;
	bottom: 5px;
	font-size: 0.7em;
	text-decoration: none;
}

.flag.new {
	color: #00E000;
}

.flag.verified {
	color: #0000E0;
}

.flag.latest {
	color: #E00000;
}

.verified-text {
	color: #333;
	font-style: italic;
}

.download {
	text-align: center;
}

.download .link a {
	font-size: 14pt;
}

.download .checksum {
	
}

.download .checksum .hash {
	color: #333;
	font-style: italic;
}

.subtitle {
	color: #444;
	font-style: italic;
}

.ratingForm {
	float: right;
	text-align: center;
	width: 100px;
	margin: 0 0 5px 5px;
}

.ratingForm h3 {
	margin-top: 5px;
}

#rating_notification {
	font-size: 9pt;
	color: #444;
}

.submit {
	text-align: center;
}

td.field {
	font-weight: bold;
	padding-right: 10px;
}

.repoForm th {
	padding: 4px 5px 0 0;
	vertical-align: top;
}

.repoForm .help {
	color: #333;
}

.userPackageLinks {
	text-align: center;
}

.changelog.text {
	font-family: monospace;
}

img.screenshot {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.package-stats {
    clear: both;
}

#featured-rotator {
    height: 250px;
    width: 500px;
    margin: 0px auto 8px auto;
}

#featured-rotator .dijitContentPane {
    padding: 8px;
}

.learn-more-link {
    text-align: right;
}

.all-versions.dijitTitlePane {
    clear: both;
}
