{% extends "base_community.html" %}

{% block title %} - Community Forum{% endblock %}
{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/snapboard.css" />    

<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ SNAP_PREFIX }}/feeds/latest/" />

<script type="text/javascript">
    var SNAP_PREFIX = '{{ SNAP_PREFIX }}';
	dojo.require("lucidsite.forum");
</script>
{% block snap_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
<div id="doc2">
    <div id="hd">
        {% block site_title %}
        <h1>Community</h1>
        {% endblock %}
        <div id="navigation">
            <ul>
                <li><a href="{{ SNAP_PREFIX }}/threads/"><span>All Discussions</span></a></li>
                <li><a href="{{ SNAP_PREFIX }}/categories/"><span>Categories</span></a></li>
                {% if user.is_authenticated %}
                <li><a href="{{ SNAP_PREFIX }}/favorites/"><span>Favorites</span></a></li>
                <li><a href="{{ SNAP_PREFIX }}/private/"><span>Private Posts</span></a></li>
                <li><a href="{{ SNAP_PREFIX }}/newtopic/">New Topic</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <hr />

    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                {% block snapboard_header %}
                {% endblock %}
                {% block snapboard_main %}
                {% endblock %}
            </div>
        </div>
        <div class="yui-b">
            {% block snapboard_panel %}
                {% include "snapboard/include/side_panel.html" %}
            {% endblock %}
        </div>

    </div>
    <div id="ft">
        <br />
        <div style="text-align:center; font-size: 85%;">
            <p>This community is powered by <a href="http://code.google.com/p/snapboard/">Snapboard</a></p> <br />
        </div>
        <br />
    </div>
</div>
{% endblock %}

<!--
vim: ai ts=4 sts=4 et sw=4 
-->
