

/*  body styles */
body	{color: #000;
	font: 13px Verdana, "Lucida Grande", Lucida, sans-serif;
}

body.base	{background-color: #D2E8DD;
}

/* table and layout styles */

table.overall			{border: 0px solid #FFFFFF;}

td.left_side			{text-align: center; width: 125px;}	
	
td.center	{text-align: left; width: 518px; }

td.right_side	{text-align: center; width: 300px;
	margin-left: 3px;
}

div.logo	{text-align: center;
	padding-top: 25px;
	padding-bottom: 2px;
	background-color: white;
	margin-top: 3px;
	border: 1px solid #999;
	margin-left: 3px;
	width: 298px;
}

div.left_submenu {
	margin-top: 3px;
	border: 1px solid #999;
	margin-right: 3px;
	text-align: right;
	width: 123px;
}

div.right_submenu	{
	margin-top: 3px;
	border: 1px solid #999;
	margin-left: 3px;
	text-align: left;
	width: 298px;
}

div.right_submenu_half	{
	border: 1px solid #999;
	margin-top: 3px;
	margin-right: 3px;
	background-color: white;
	width: 125px;
}

div.subcenter	{border: 1px solid #999999; background-color: #FFFFFF; text-align: left; vertical-align: top;
	width: 518px;
}

div.content_body	{padding: 20px; text-align: left; vertical-align: top;
}

/* general menu styles */
div.menu_header			{background-color: #aed8f2; height: 17px;
	font-weight: bold;
	color: black;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid white;
	padding-top: 1px;
}

div.menu_content	{background-color: #FFFFFF; padding: 3px;
	font-size: 12px;
}

div.menu_content a {
	color: black;
}

div.menu_content a:hover {
	color: blue;
}

div.goal        {
	font-weight: normal;
	font-style: normal;
	color: black;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	font-size: 13px;
}

.menu_current	{ color: #000; text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

/* generic site text styles */
a {
	color: #0F6499; 
	text-decoration: none;
}

a:hover {text-decoration: underline;
	color: blue;
}

.title {
	font: bold 20px Georgia, "Times New Roman", Times, serif;
	color: black;
}

.title_nospace {
	font: bold 20px Georgia, "Times New Roman", Times, serif;
	color: black;
	margin: 0;
	padding: 0;
}

h1 {
	font: bold 20px Georgia, "Times New Roman", Times, serif;
	color: black;
	margin: 0;
}

.subtitle {
	font: bold 16px Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin: 0;
}

.index_head {
	font: bold 16px Georgia, "Times New Roman", Times, serif;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 1px;
	background-color: #AED8F2;
	width: 100%;
}

h2 {
	font: bold 16px Georgia, "Times New Roman", Times, serif;
	margin-bottom: 0;
	padding-top: 10px;
}

.very_small	{font-size: xx-small; font-weight: 200;vertical-align: text-top}

.line {
	padding: 0;
	margin: 4px 0 0;
}

div.note {
	color: gray;
	font-size: 11px;
	padding-top: 2px;
}

div.footnote {
	color: gray;
	font-size: 11px;
	padding-top: 10px;
}

.gray:hover {
	text-decoration: none;
	color: gray;
}

.note {
	color: gray;
	font-size: 10px;
}

.super {
	vertical-align: text-top;
}

.technorati {
	color: green;
	font-weight: bold;
}

.technorati a {
	color: green;
	font-weight: bold;
}

.technorati a:hover {
	color: blue;
	font-weight: bold;
}

.alexa {
	color: #064cb6;
	font-weight: bold;
}

.alexa a {
	color: #064cb6;
	font-weight: bold;
}

.alexa a:hover {
	color: blue;
	font-weight: bold;
}

.google {
	color: #881010;
	font-weight: bold;
}

.info_icon {
	color: blue;
	font: italic bold 14px Georgia, "Times New Roman", Times, serif;
}

.block {
	display: block;
}

.nomargin {
	padding: 0;
	margin: 0;
}

.nopadding {
	padding: 0;
}

div.noborder {
	border-style: none;
}

.colorhighlight {
	padding: 2px;
}

.colorhighlight a {
	color: black;
}

.black {
	color: black;
}

.gray {
	color: gray;
}

.gray_hover {
	color: gray;
}

/* generic site layout styles */

td.blog_role_left {
	text-align: left;
	padding-left: 2px;
}

td.blog_role_right {
	text-align: right;
	padding-right: 2px;
}

table.blog_role {
	width: 100%;
}

div.blog_role {
	margin-top: 2px;
}

div.no_category {
	border: 1px dashed silver;
}


/* main menu styles */
div.main_menu_current	{background-color: #137DBF; text-align: right; margin-bottom: 1px; padding-top: 2px; padding-bottom: 2px; padding-right: 2px;
}

div.main_menu_current a	{color: #fff; font-size: 12px; font-weight: bold;
}

div.main_menu_current:hover	{background-color: #E6F3FA;
	text-decoration: none;
}

div.main_menu_current:hover a	{color: #000;
	text-decoration: none;
}

div.main_menu			{background-color: #aed8f2; text-align: right;margin-bottom: 1px; padding-top: 2px; padding-bottom: 2px; padding-right: 2px;
}

div.main_menu_block {
	border: 1px solid #999999;
	background-color: #fff;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	margin-top: 3px;
	margin-right: 3px;
	width: 121px;
}

div.main_menu a			{color: #000; font-size: 12px; font-weight: bold;
}

div.main_menu:hover {background-color: #E6F3FA; text-decoration: none;
}

div.main_menu:hover a {color: #000; text-decoration: none;
}



/* category menu styles */
div.category_menu			{text-align: center;
	padding: 5px;
	border-bottom: 1px solid #999999;
	
}

div.category_menu_current			{text-align: center;
	padding: 5px;
	border-bottom: 1px solid #999999;
	
}

div.category_block {
	background-color: #fff;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	margin-top: 3px;
	margin-right: 3px;
	width: 123px;
}

div.category_menu a			{font-size: 11px;
	color: black;
}


div.category_menu_current a			{font-size: 11px;
	color: black;
	font-weight: bold;
}

div.category_menu a:hover			{
	color: black;
	text-decoration: none;
}

div.category_menu_current a:hover			{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

div.category_menu:hover a			{color: black;
}

div.category_menu_current:hover a			{color: black;
	font-weight: bold;
}

/* image styles */

.image		{border: none}

/* BLOGMAKER index page blog preview styles */
.index_blog_title	{
	color: black;
	font: bold 16px Georgia, "Times New Roman", Times, serif;
}

.index_blog_body		{font-size: 13px;}

.index_blog_more		{font-size: 12px;
	color: black;
	font-weight: bold;
}

/* error and error list styles */

.error	{color: red;}

.errorlist	{color: red;
	font-size: 10px;
}

ul.errorlist {margin: 0px; padding: 0px;}

ul.errorlist li {margin: 0px; padding: 0px; list-style-position: inside; list-style-type: none;
}

/* comment and trackback styles */

div.comments {
	padding-top: 20px;
}

div.comments_trackbacks {
	border-top: 2px solid gray;
}

div.comments_preview {
	padding-top: 0px;
}

div.trackbacks {
	padding-top: 20px;
}

div.add_comment {
	padding-top: 20px;
}

div.comment_display {
	border: 1px solid silver;	
	margin-top: 15px;
}

div.comment_infos {
	font-size: 11px;
	color: gray;
	padding: 2px 4px;
}

div.comment_body {
	padding: 2px 4px 4px;
}

div.posts_first {
	border-bottom:2px solid gray;
	padding-bottom:20px;
}

div.posts_single {
	padding-bottom:20px;
}

div.posts {
	border-bottom:2px solid gray;
	padding-bottom:20px;
	padding-top:20px;
}

div.posts_last {
	border-bottom-style:none;
	padding-top:20px;
}

.comment_form {
	padding-top: 10px;
}

.comment_form_submits {
	text-align: right;
	padding-top: 5px;
}