{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/site_media/pages/index.css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/weblog/" />
{% endblock %}

{% block main %}
<div class="content">
    <div id="intro">
        <h1>Open Source Web Desktop</h1>
        <p>
           <b>Lucid</b> is a <b>free, open source web based desktop</b>, <b>web desktop</b>, or <b>webOS</b> that gives you a portable, online workspace that you can use to store files, play media, and manage your office documents. The goal of the project is to provide an application platform that integrates seamlessly with the web, existing desktop technologies, and mobile devices.
        </p>
        <div>
            <div class="button-row">
                <a href="/download/">
                    <div class="download-button">
                        {#<div>1.0beta4</div>#}
                    </div>
                </a>
                <div class="separator"></div>
                <a href="/demo/">
                    <div class="demo-button"></div>
                </a>
            </div>
            <ul>
                <li><a href="/documentation/">Documentation</a></li>
            </ul>
        </div>
        <div class="side right"></div>
        <div class="side left"></div>
    </div>
    <div class="content-bottom"></div>
</div>

{% comment %}
<div id="download">
	    <h2>Download</h2>
    	<a href="/download/">Lucid 1.0</a>
	    <ul>
		    <li><a href="/download/#release-notes">Release Notes</a></li>
    		<li><a href="/download/#license">License</a></li>
	    </ul>
    	<h2>Documentation</h2>
	    <ul>
		    <li><a href="/documentation/#users">For Users</a></li>
    		<li><a href="/documentation/#developers">For Developers</a></li>
	    </ul>
    </div>
	    <a href="/overview/">Learn More</a> | <a href="/demo/">Try it out</a>
{% endcomment %}

<div class="content-separate">
    <div id="blogposts">
        <a href="/rss/weblog/">
            {% include "rssbutton.html" %}
        </a>
	    <h2>Recent Blog Posts</h2>
    	{% load comments latestblogentry %}
	    {% get_latest_blog_entries 4 as latest_entries %}
    	
	    {% for latest_entry in latest_entries %}
            {% get_comment_count for latest_entry as comment_count %}.
	        <h3><a href="{{ latest_entry.get_absolute_url }}">{{ latest_entry.headline }}</a></h3>
	        <p class="date">by <strong>{{ latest_entry.author }}</strong> on {{ latest_entry.pub_date|date:"M. j, Y" }}</p>
    	    {{ latest_entry.summary }}
	        <p class="more"><a href="{{ latest_entry.get_absolute_url }}">Read more</a>{% if comment_count %} / <a href="{{ latest_entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>{% endif %}</p>
    	{% endfor %}
	
    </div>
    <div class="content-bottom"></div>
</div>
{% endblock %}
