{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/site_media/pages/index.css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/weblog/" />
<link rel="stylesheet" type="text/css" href="{{ DOJANGO.DOJO_URL }}/../dojox/av/widget/resources/Player.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ DOJANGO.DOJO_URL }}/../dojox/widget/Dialog/Dialog.css" media="screen" />
<script type="text/javascript">
dojo.require("lucidsite.index");
</script>
{% endblock %}

{% block main %}
<div class="content">
    <div id="intro">
        <div class="slideshow">
            <a href="javascript://" onClick="lucidsite.showVideo();">
                <div class="screenshot">
                    <div>Click to play video</div>
                </div>
            </a>
        </div>
        <div class="intro-content">
            <h1>Open Source Web Desktop</h1>
            <p>
                <b>Lucid</b> is a <b>free, open source web based desktop</b>, <b>web desktop</b>, or <b>webOS</b> that gives you a portable, online workspace that you can use to store files, play media, and manage your office documents. The goal of the project is to provide an application platform that integrates seamlessly with the web, existing desktop technologies, and mobile devices.
                <a href="/overview/">Learn More&rarr;</a>
            </p>
            <div>
                <div class="button-row">
                    <a href="/download/">
                        <div class="download-button">
                            {#<div>1.0beta4</div>#}
                        </div>
                    </a>
                    <div class="separator"></div>
                    <a href="/demo/">
                        <div class="demo-button"></div>
                    </a>
                </div>
                <ul class="link-row">
                    <li>
                        <a href="/documentation/en/dev/user/install/instructions/">Installation Instructions</a>
                    </li>
                    <li>
                        <a href="/documentation/en/dev/user/troubleshoot/">Troubleshooting</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="video" id="intro-video">
            <div dojoType="dojox.av.widget.Player" playerWidth="100%" id="intro-video-player" style="margin-top: 15px;">
                <div controlType="video" initialVolume=".5"
            		mediaUrl="site_media/video/intro.flv" autoPlay="false" isDebug="false" dojoType="dojox.av.FLVideo"></div>
                <div controlType="play" dojoType="dojox.av.widget.PlayButton"></div>
                <div controlType="volume" dojoType="dojox.av.widget.VolumeButton"></div>
                <div controlType="progress" dojoType="dojox.av.widget.ProgressSlider"></div>
                <div controlType="status" dojoType="dojox.av.widget.Status"></div>
            </div>
            <a href="/site_media/video/intro.mp4">Download High-Quality MP4</a> | <a href="javascript://" onClick="lucidsite.hideVideo();">Close Video</a> 
        </div>
        <div class="side right"></div>
        <div class="side left"></div>
    </div>
    <div dojoType="dijit.layout.TabContainer" id="introTabs" class="intro-tabs">
        <div dojoType="dijit.layout.ContentPane" title="Portable">
            <div class="centered">
                <div class="block">
                    <img src="/site_media/images/intro/browser.png" />
                    <p>Runs in any standards-compliant web browser</p>
                </div>
                <div class="block">
                    <img src="/site_media/images/intro/mobile.png" />
                    <p>Access your files from your mobile phone</p>
                </div>
                <div class="block">
                    <img src="/site_media/images/intro/settings.png" />
                    <p>Take your theme, settings, and apps with you</p>
                </div>
            </div>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Customizable">
            <div class="padding">
                <img class="graphic" src="/site_media/images/intro/package.png" />
                <p>
                    Lucid supports 3rd party apps and themes. You can take a look at our <a href="{% url repository-index %}">package repository</a> to get addons for Lucid. You can take a look at the <a href="/documentation/en/dev/dev/">developer documentation</a> to learn how to make your own apps and themes for Lucid.
                </p>
            </div>
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Open Source">
            <div class="padding">
                <img class="graphic" src="/site_media/images/intro/opensource.png" />
                <p>
                    Lucid is open source software distributed under the <a href="http://www.opensource.org/licenses/academic.php">Academic Free License</a>. The license is very liberal, and allows anyone to modify and redistribute the software any way they want, even comercially. Additionally, we use a Contributor License Agreement (or CLA) to ensure that there are no licensing problems.
                </p>
            </div>
        </div>
    </div>
    <div class="content-bottom"></div>
</div>

<div class="content-separate">
    <div id="blogposts">
        <a href="/rss/weblog/">
            {% include "rssbutton.html" %}
        </a>
	    <h2>Recent Blog Posts</h2>
    	{% load comments latestblogentry %}
	    {% get_latest_blog_entries 4 as latest_entries %}
    	
	    {% for latest_entry in latest_entries %}
            {% get_comment_count for latest_entry as comment_count %}
	        <h3><a href="{{ latest_entry.get_absolute_url }}">{{ latest_entry.headline }}</a></h3>
	        <p class="date">by <strong>{{ latest_entry.author }}</strong> on {{ latest_entry.pub_date|date:"M. j, Y" }}</p>
    	    {{ latest_entry.summary|safe }}
	        <p class="more"><a href="{{ latest_entry.get_absolute_url }}">Read more</a>{% if comment_count %} / <a href="{{ latest_entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>{% endif %}</p>
    	{% endfor %}
	
    </div>
    <div class="content-bottom"></div>
</div>
{% endblock %}
