{% if not thr.closed and not page_next %}
    {% if user.is_authenticated %}
    <!-- div style="border: 1px solid #ccc; padding: 5px; background: #efe" -->
    <p>
    <span style="float:right;"><a href="javascript:void();{# #snap_markdown_guide #}" onclick="lucidsite.forum.toggle('snap_markdown_guide', 'block');">Pretty-print guide</a></span>
    <b>Got something to say?</b>
    </p>
    {% include "snapboard/include/markdown_guide.html" %}
    <form id="add_post_div" action="" method="POST" onsubmit="lucidsite.forum.compileList('privateBoxes', 'id_private');">
        <p>{{ postform.post }} {{ postform.post.errors }}</p>
        <p id="autocomplete_p">
            <!-- span style="float:right;"><b>I need more space!</b></span -->
            <a href="#add_post_div" onclick="lucidsite.forum.toggle('autocomplete_input', 'block'); lucidsite.forum.toggle('autocomplete_p', 'inline');">set private recipients (optional)</a>
        </p>
        <div id="autocomplete_input" style="display:none">
            <p style="display: none;">{{ postform.private }}</p>
			<div dojoType="dojox.data.QueryReadStore" url="{{ SNAP_PREFIX }}/rpc/user_lookup/"
				 doClientPaging="false" jsId="userStore"></div>
			<div id="privateBoxes">
			<input type="text" dojoType="dijit.form.FilteringSelect" store="userStore"
				   hasDownArrow="false" pageSize="10" />
			</div>
			<input type="button" value="Add another" onclick="lucidsite.forum.addAutoComplete(userStore, 'privateBoxes');" />
        </div>
        {% if postform.private.errors %}
        {{ postform.private.errors }}
        {% endif %}

        <p>
        <input type="submit" value="Post" />
        <input type="button" value="Preview" onclick="lucidsite.forum.preview('add_post_div')" />
        </p>
    </form>
    <div style="border: 1px solid #ccc; display: none;">
        <p><b>Post Preview:</b></p>
        <div id="snap_preview_addpost" class="post_text">
        </div>
    </div>
    {% else %}
    <p>You need to <a href="/accounts/login/?next={{ request.path|urlencode }}#add_post_div">sign in</a> to post messages.</p>
    {% endif %}
{% endif %}
{% if thr.closed %}
    <p>This discussion has been closed by the staff.  You can no longer add posts.</p>
{% endif %}

<!--
vim: ai ts=4 sts=4 et sw=4
-->
