{% extends "base_weblog.html" %}

{% block title %} - Blog - {{ object.headline|escape }}{% endblock %}

{% block content %}

<h1>{{ object.headline }}</h1>
{{ object.body }}
<p class="date small">Posted by <strong>{{ object.author }}</strong> on {{ object.pub_date|date:"F j, Y" }}</p>

{% load comments %}
{% get_comment_list for object as comment_list %}

<div id="content-secondary">
	<h2 id="comments">Comments</h2>
	
	{% for comment in comment_list %}
	<div class="comment" id="c{{ comment.id }}">
	    <h3>
	    	{% if comment.user_url %}
				<a href="{{ comment.user_url }}" rel="nofollow">
			{% endif %}
				{{ comment.user_name|escape }}{% if comment.user_url %}</a>{% endif %}
			<span class="small quiet">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}</span>
		</h3>
	    {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
	</div>
	{% endfor %}
	
	<h2>Post a comment</h2>
	{% load comments %}
	{% get_comment_form for object as form %}
	<form action="{% comment_form_target %}" method="POST">
	  <table id="comment_form_table">
		  {{ form.as_table }}
	  </table>
	  <input type="hidden" name="next" value="{{ object.get_comment_url }}" />
	  <p class="submit">
	  	<input type="submit" name="submit" class="submit-post" value="Post">
        <input type="submit" name="submit" class="submit-preview" value="Preview">
	  </p>
	</form>
</div>
{% endblock %}
