.profileTabs {
	width: 500px;
	height: 300px;
	margin: 10px auto 0 auto;
}

table.profile {
	margin: 10px auto 0 auto;
}

table.profile td {
	padding: 0 5px 0 5px;
}

table.profile .fieldname {
	font-weight: bold;
}

a.edit {
	font-size: 8pt;
	position: relative;
	bottom: 2px;
	text-decoration: none;
}
