body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a, h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
	color: #0e56b9;
}

a:hover {
	color: #0e56b9;
	text-decoration: none;
}

a.edit {
	font-size: 0.6em;
	position: relative;
	bottom: 3px;
	text-decoration: none;
	margin-left: 5px;
}

#intro h1 {
    font-size: 28pt;
    margin-top: 0px;
    padding-top: 10px;
}
