body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a, h1, h2, h3, h4, h5, h6 {
	color: #237fce;
}

a:hover {
	color: #6d6d6d;
	text-decoration: none;
}

a.edit {
	font-size: 0.6em;
	position: relative;
	bottom: 3px;
	text-decoration: none;
	margin-left: 5px;
}
