@import url('elements.css');

body {
	text-align: center;
	background: #000;
}

#main {
	width: 750px;
	margin: 0px auto 0px auto;
}

#header {
	background: url('images/header.png') no-repeat;
	height: 150px;
}

#header * {
	display: none;
}

#menubar {
	background: url('images/menubar.png') repeat-x;
	height: 37px;
	text-align: left;
	color: white;
	font-weight: bold;
	font-size: 9pt;
}

#menubar ul {
	list-style-type: none;
	padding: 0px;
	text-transform: uppercase;
}

.menu-item, #menubar ul li {
	float: left;
	background-repeat: no-repeat;
	height: 37px;
	margin-left: 16px;
	padding-top: 10px;
	text-shadow: 0 0 5px #333;
}

#menubar * a {
	color: white;
	text-decoration: none;
}
#menubar * a:hover {
	color: #eee;
}

#search {
	float: right;
	padding: 6px 4px;
	display: none;
}

#login {
	float: right;
	padding: 10px 8px 0 0;
	width: 160px;
	text-align: right;
}

.rightsidebar {
	float: right;
	width: 160px;
	margin-left: 10px;
}
.content-rightsidebar {
	margin-right: 170px;
}

#content {
	background: url('images/content-background.png') repeat-y;
	text-align: left;
	margin: 10px auto 0px auto;
	width: 727px;
}

#content-top {
	background: url('images/content-top.png') no-repeat;
	min-height: 745px;
	padding: 10px;
}

#content-bottom {
	background: url('images/content-bottom.png') no-repeat;
	height: 12px;
}

#mainlogin {
	margin: 0px auto 0px auto;
	width: 212px;
}

#mainlogin form {
	margin-top: 5px;
}

input.login {
	float: right;
}

#footer {
	min-height: 80px;
}

#footer .logo {
	background: url('images/footer-logo.png') no-repeat;
	width: 80px;
	height: 80px;
	float: left;
}

#footer .text {
	color: #ccc;
	border-left: 1px solid #ccc;
	margin: 22px 22px 22px 5px;
	padding-left: 10px;
	min-height: 30px;
	float: left;
}
