@import url('elements.css');

body {
	text-align: center;
	/*background: #dfdfdf;*/
    background: #dfdfdf url('images/layout/background.png') repeat-x;
}

.message-set {
}

.message-set div {
    background-image: url('images/layout/msg-background.png');
    color: #eee;
    width: 100%;
    height: 32px;
    text-align: center;
}

.message-set div div.message {
    line-height: 35px;
}

.message-set div div.close {
    background-image: url('images/layout/close.png');
    width: 12px;
    height: 13px;
    cursor: pointer;
    float: right;
    margin-top: 11px;
    margin-right: 8px;
}

.message-set div div.close:hover {
    background-image: url('images/layout/close-hover.png');
}

#main {
    text-align: left;
    margin: 0 30px;
    min-width: 920px;
}

#header {
    background: url('images/layout/header-center.png') repeat-x;
    height: 140px;
    position: relative;
    margin: 0 8px;
}

#header .side {
    height: inherit;
    width: 8px;
    height: 140px;
}
#header .side.left {
    background: url('images/layout/header-left.png') no-repeat;
    float: left;
    margin-left: -8px;
}

#header .side.right {
    background: url('images/layout/header-right.png') no-repeat;
    float: right;
    margin-right: -8px;
}

#logo {
    background: url('images/layout/logo.png') no-repeat;
    float: left;
    width: 275px;
    height: 140px;
}

#login {
    float: right;
    margin: 5px 10px 0 0;
    color: #ddd;
}

#login a {
    color: #ddd;
    font-weight: 700;
    text-decoration: none;
}

#login a:hover {
    color: #fff;
}

#search {
    float: right;
    background: url('images/layout/search.png');
    width: 275px;
    height: 32px;
    position: absolute;
    top: 45px;
    right: 30px;
}

#search-form {
    border: 0px;
    padding: 0px;
}

#search .textbox {
    border: 0px;
    margin: 9px 0 0 45px;
    height: 20px;
    width: 190px;
    background: none;
    color: #555;
}

#search .submit {
    float: right;
    margin: 4px 6px 0 0;
    border: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

#menu {
    background: url('images/layout/menu-left.png') no-repeat;
    height: 39px;
    position: absolute;
    bottom: 0px;
    right: 40px;
    padding-left: 13px;
}

#menu ul {
    background: url('images/layout/menu-right.png') top right no-repeat;
    list-style-type: none;
    list-style-position: inside;
    padding: 0 13px 0 0;
    height: 39px;
    margin: 0px;
}


#menu ul li { 
    background: url('images/layout/menu-center.png') repeat-x;
    float: left;
    height: 39px;
    padding-top: 14px;
}

.dj_ie #menu ul li,
.dj_opera #menu ul li {
    padding-top: 13px;
}

.dj_safari #menu ul li {
    padding-top: 20px;
}

#menu * a {
    color: #ccc;
    text-decoration: none;
    margin: 0;
    position: relative;
    top: -10px;
    line-height: 32px;
    display: block;
    padding: 1px 1em 0 1.5em;
    height: 35px;
    text-align: center;
    /*font-weight: 700;*/
    font-size: 1em;
}

#menu ul li.last a {
    padding-right: 0px;
}

.dj_ie #menu * a {
    padding-top: 2px;
}

.dj_opera #menu * a {
    padding-left: 5px;
    padding-top: 3px;
}

.dj_safari #menu * a {
    padding-top: 0px;
    padding-left: 0px;
    line-height: 1px;

}

#menu * a:hover {
    color: #fff;
}

/* menu icons */
#menu ul li.home {
    list-style-image: url('images/layout/icons/home.png');
}

.dj_ie #menu ul li.home a,
.dj_opera #menu ul li.home a {
    background: url('images/layout/icons/home.png') no-repeat left center;
}

#menu ul li.download {
    list-style-image: url('images/layout/icons/download.png');
}

.dj_ie #menu ul li.download a,
.dj_opera #menu ul li.download a {
    background: url('images/layout/icons/download.png') no-repeat left center;
}


#menu ul li.documentation {
    list-style-image: url('images/layout/icons/documentation.png');
}

.dj_ie #menu ul li.documentation a,
.dj_opera #menu ul li.documentation a {
    background: url('images/layout/icons/documentation.png') no-repeat left center;
}


#menu ul li.blog {
    list-style-image: url('images/layout/icons/blog.png');
}

.dj_ie #menu ul li.blog a,
.dj_opera #menu ul li.blog a {
    background: url('images/layout/icons/blog.png') no-repeat left center;
}


#menu ul li.community {
    list-style-image: url('images/layout/icons/community.png');
}

.dj_ie #menu ul li.community a,
.dj_opera #menu ul li.community a {
    background: url('images/layout/icons/community.png') no-repeat left center;
}


#menu ul li.packages {
    list-style-image: url('images/layout/icons/packages.png');
}

.dj_ie #menu ul li.packages a,
.dj_opera #menu ul li.packages a {
    background: url('images/layout/icons/packages.png') no-repeat left center;
}

#menu ul li.code {
    list-style-image: url('images/layout/icons/code.png');
}

.dj_ie #menu ul li.code a,
.dj_opera #menu ul li.code a {
    background: url('images/layout/icons/code.png') no-repeat left center;
}
/* end icons */

.content-separate {
    background: #fff;
    border-top: 1px solid #d6d6d6;
    margin-top: 20px;
    padding: 5px 1.5em 0 1.5em;
}

.content {
    padding: 10px 1.5em 0 1.5em;
    background: #fff;
}

.content-bottom {
    height: 3px;
    background: url('images/layout/content-bottom.png') repeat-x;
    margin: 5px -1.5em 0 -1.5em;
    clear: both;
}


.dj_ie #intro {
    margin-top: 0px;
    top: -10px;
}

#intro .side {
    width: 8px;
    height: 9px;
    position: absolute;
    bottom: 0px;
}

#intro .side.left {
    left: 0px;
    background: url('images/layout/intro-left.png') no-repeat;
}

#intro .side.right {
    right: 0px;
    background: url('images/layout/intro-right.png') no-repeat;
}

.content.withsidebar .center {
    background: url('images/layout/sidebar-separator.png') repeat-y top right #fff;
    margin: -20px 215px -5px 0;
    padding: 20px 20px 20px 0;
    min-height: 350px;
}

.sidebar {
    float: right;
    width: 200px;
    height: auto;
    padding-left: 15px;
}

.dj_ie .sidebar {
    position: relative;
}

#footer {
    color: #888;
    text-align: center;
}
