@import url('elements.css');

body {
	text-align: center;
	background: #dfdfdf;
}

.message-set {
}

.message-set div {
    background-image: url('images/layout/msg-background.png');
    color: #eee;
    width: 100%;
    height: 32px;
    text-align: center;
}

.message-set div div.message {
    line-height: 35px;
}

.message-set div div.close {
    background-image: url('images/layout/close.png');
    width: 12px;
    height: 13px;
    cursor: pointer;
    float: right;
    margin-top: 11px;
    margin-right: 8px;
}

.message-set div div.close:hover {
    background-image: url('images/layout/close-hover.png');
}

#main {
    width: 90%;
    text-align: left;
    margin: 0 5% 0 5%;
}

#header {
    background: url('images/layout/header-center.png') repeat-x;
    height: 140px;
    position: relative;
}

#header .side {
    height: inherit;
    width: 8px;
}
#header .side.left {
    background: url('images/layout/header-left.png') no-repeat;
    float: left;
}

#header .side.right {
    background: url('images/layout/header-right.png') no-repeat;
    float: right;
}

#logo {
    float: left;
    border: 1px dotted #ddd;
    color: #ddd;
    width: 300px;
    height: 100px;
}

#login {
    float: right;
    margin: 5px 10px 0 0;
    color: #ddd;
}

#login a {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
}

#login a:hover {
    color: #fff;
}

#search {
    display: none; /* search doesn't work yet */
    float: right;
    background: url('images/layout/search.png');
    width: 275px;
    height: 32px;
    position: absolute;
    top: 45px;
    right: 30px;
}

#search .textbox {
    border: 0px;
    margin: 9px 0 0 45px;
    height: 20px;
    width: 190px;
    background: none;
    color: #555;
}

#search .submit {
    float: right;
    margin: 4px 6px 0 0;
    border: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}

#menu {
    background: url('images/layout/menu-center.png') repeat-x;
    height: 39px;
    position: absolute;
    bottom: 0px;
    right: 40px;
    width: 470px;
}

#menu .side {
    width: 13px;
    height: inherit;
}

#menu .side.left {
    background: url('images/layout/menu-left.png') no-repeat;
    float: left;
    margin-left: -13px;
}

#menu .side.right {
    background: url('images/layout/menu-right.png') no-repeat;
    float: right;
    margin-right: -13px;
}

#menu * a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}

#menu * a:hover {
    color: #fff;
}

#menu ul {
    margin: 12px -10px 0 -10px;
    padding: 0 0 0 13px;
    list-style: none;
}

#menu * li {
    float: left;
    padding-right: 10px;
}

.content-separate {
    background: #fff;
    border-top: 1px solid #d6d6d6;
    margin-top: 20px;
    padding: 5px 5px 0 5px;
}

.content {
    padding: 10px 5px 0 5px;
    background: #fff;
}

.content-bottom {
    height: 3px;
    background: url('images/layout/content-bottom.png') repeat-x;
    margin: 5px -5px 0 -5px;
}

#intro {
    position: relative;
    margin: -10px 15px 5px 15px;
    padding-bottom: 10px;
    background: #e5e5e5;
    min-height: 10px;
}

#intro .side {
    width: 8px;
    height: 9px;
    position: absolute;
    bottom: 0px;
}

#intro .side.left {
    left: 0px;
    background: url('images/layout/intro-left.png') no-repeat;
}

#intro .side.right {
    right: 0px;
    background: url('images/layout/intro-right.png') no-repeat;
}

#footer {
    color: #888;
    text-align: center;
}
