.filter {
	padding-bottom: 2px;
	margin-bottom: 2px;
	border-bottom: 1px dotted #aaa;
}

.warn {
	color: red;
	text-decoration: underline;
	font-style: italic;
}

.packageList {
	
}

.packageList .item {
	border-bottom: 1px dotted #aaa;
	clear: both;
}

.packageList .title {
	font-weight: bold;
}

.packageList .version {
	font-weight: normal;
	font-style: italic;
}

.packageList .released {
	color: #444;
}

.packageList .rating {
	float: right;
	text-align: center;
}

.packageList a {
	color: #000;
	
}

.flag {
	position: relative;
	bottom: 5px;
	font-size: 0.7em;
}

.flag.new {
	color: #00E000;
}

.flag.verified {
	color: #0000E0;
}

.flag.latest {
	color: #E00000;
}
