{% extends "base_content.html" %}

{% block title %} - Edit Profile{% endblock %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="/site_media/pages/accounts.css" media="screen" />
{% endblock %}

{% block content %}
<h1>Change Password</h1>
<ul>
    <li><a href="/accounts/profile/edit/">Edit Profile</a></li>
    <li><a href="/forum/profile/">Edit Forum Profile</a></li>
</ul>
<form action="." method="POST">
<p>
Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
</p>
<table>
    {{ form.as_table }}
    <tr>
        <td colspan="2">
            <input type="submit" value="Submit" />
        </td>
    </tr>
</table>
</form>
{% endblock %}
