{% extends "base_content.html" %}

{% block title %} - Password Change Successful{% endblock %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="/site_media/pages/accounts.css" media="screen" />
{% endblock %}

{% block content %}
<h1>Password Change Successful</h1>
<ul>
    <li><a href="/accounts/profile/edit/">Edit Profile</a></li>
    <li><a href="/accounts/password_change/">Change Password</a></li>
    <li><a href="/forum/profile/">Edit Forum Profile</a></li>
</ul>
<p>
    Your password has been successfully changed.
</p>
{% endblock %}
