{% extends "base_content.html" %}

{% block title %} - Download{% endblock %}

{% load dojango_base %}
{% if not DOJANGO %}
	{% set_dojango_context %}
{% endif %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Latest Stable Releases" href="/download/feeds/latest-stable/" />
<link rel="alternate" type="application/rss+xml" title="Latest Unstable Releases" href="/download/feeds/latest-unstable/" />
<link rel="alternate" type="application/rss+xml" title="Latest Stable and Unstable Releases" href="/download/feeds/latest/" />

<link type="text/css" rel="stylesheet" href="/site_media/pages/downloads.css" media="screen" />
<script type="text/javascript">
dojo.require("lucidsite.download");
</script>
{% endblock %}

{% block content %}
<h1>Download</h1>
<a href="/download/feeds/latest-stable/">
    {% include "rssbutton.html" %}
</a>
{% if release %}
<h2>Latest Release - <a href="{{ release.get_absolute_url }}">{{ release.name }}</a></h2>
<div class="subtitle">Released {{ release.date|date:"F j, Y" }}</div>
<ul>
    <li><a href="{{ release.get_absolute_url }}#release-notes">Release Notes</a></li>
    <li><a href="{{ release.get_absolute_url }}#change-log">Change Log</a></li>
</ul>
<h3>Files</h3>
{% include "downloads/file_table.html" %}
{% else %}
<h2>Latest Stable Release</h2>
No release yet
{% endif %}

<h2>Other Releases</h2>
<div dojoType="dijit.layout.TabContainer" id="other-releases-tabs">
    <div dojoType="dijit.layout.ContentPane" title="Stable">
        <a href="/download/feeds/latest-stable/">
            {% include "rssbutton.html" %}
        </a>
        {% if other_stable %}
        <ul>
            {% for release in other_stable %}
                <li>
                    <a href="{{ release.get_absolute_url }}">
                        {{ release.name }}
                        ({{ release.date|date:"F j, Y" }})
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            No other stable releases
        {% endif %}
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Unstable" {% if not other_stable %}selected="true"{% endif %}>
        <a href="/download/feeds/latest-unstable/">
            {% include "rssbutton.html" %}
        </a>
        {% if other_unstable %}
        <ul>
            {% for release in other_unstable %}
                <li>
                    <a href="{{ release.get_absolute_url }}">
                        {{ release.name }}
                        ({{ release.date|date:"F j, Y" }})
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            No other unstable releases
        {% endif %}
    </div>
</div>

{% endblock %}
