form {
border:1px solid #ccc;
padding:5px;
}

form th {
padding-right:0.5em;
text-align:right;
}

form td {
color:#999;
}

textarea,input,button,select {
margin-bottom:5px;
margin-top:5px;
}

textarea,input[type="text"],input[type="password"] {
width:100%;
}


form td textarea, form p textarea {
    height: 250px;
}
