{% extends "base_content.html" %}

{% block title %} - {{ flatpage.title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/highlight/resources/highlight.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ DOJANGO.DOJO_URL }}/../dojox/highlight/resources/pygments/default.css" />
<script type="text/javascript">
	dojo.require("lucidsite.documentation");
</script>
<style type="text/css">
    pre code {
        display: block;
    }
    code {
        display: inline;
        overflow-x: show;
        overflow-y: auto;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>{{ flatpage.title }}</h1>
<div>
{% block docContent %}{{ flatpage.content }}{% endblock %}
</div>
{% load comments %}
<h2>Comments</h2>
<div>
   {% get_comment_list for flatpage as comment_list %}
   {% for comment in comment_list %}
    <div class="comment" id="c{{ comment.id }}">
        <h3>
            {% if comment.user_url %}
                <a href="{{ comment.user_url }}" rel="nofollow">
            {% endif %}
                {{ comment.user_name|escape }}{% if comment.user_url %}</a>{% endif %}
            <span class="small quiet">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}</span>
        </h3>
        {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
    </div>
    {% endfor %}
</div>
<h3>Add a Comment</h3>
<div>
    {% render_comment_form for flatpage %}
</div>
{% endblock %}
