{% extends "dojango/base.html" %}

{% block dojango_page_title %}Lucid Desktop{% block title-seperator %}{% endblock %}{% block title %} - Free open source web desktop and webOS{% endblock %}{% endblock %}

{% block dojango_header_extra %}
<link rel="stylesheet" type="text/css" href="/site_media/main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/site_media/print.css" media="print" />

{# meta tags #}
<meta name="description" content="Lucid is a free, open source web desktop, or webOS that gives you a portable, online workspace that you can use to store files, play media, and manage your office documents." />
<meta name="keywords" content="webOS,desktop,office,web desktop,open source,open,free,software,web,dojo,javascript,programming" />
{# end meta tags #}

<script type="text/javascript">
    dojo.require("lucidsite.lucidsite");
</script>
{% block extrahead %}{% endblock %}
{% endblock %}

{# This is to make the page load faster, inline style tags will prevent it from being downloaded all at once #}
{% block _dojango_dojo_styles %}
	<link type="text/css" rel="stylesheet" href="{{ DOJANGO.DOJO_URL }}/resources/dojo.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ DOJANGO.THEME_CSS_URL }}" media="screen" />
{% endblock %}

{% block dojango_content %}
{% if messages %}
<div class="message-set">
    {% for message in messages %}
        <div id="message-{{ forloop.counter }}">
            <div class="message">
                <div class="close" onclick="lucidsite.closeMsg('message-{{ forloop.counter }}');"></div>
                <div>{{ message }}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

<div id="main">
	<div id="header">
        <div class="side left"></div>
        <div class="side right"></div>
        <a href="/" title="Lucid Logo">
            <div id="logo"></div>
        </a>
        
        <div id="login">
			{% if user.is_authenticated %}
				<a href="{% url accounts-current-user-profile %}">{{ user.username }}</a>
				{% if user.is_staff %}
				<a href="{% url admin "" %}" title="Administration Panel">(admin)</a>
				{% endif %}
				 - <a href="{% url accounts-logout %}">Logout</a>
			{% else %}
				<a href="{% url accounts-login %}">Login</a>
                |
                <a href="{% url registration_register %}">Register</a>
			{% endif %}
		</div>
        
        <div id="search">
			<form method="GET" action="/search/" id="search-form">
                <input type="hidden" name="cx" value="007839513483054390891:mezlpuhzyn0" />
                <input type="hidden" name="cof" value="FORID:9" />
                <input type="hidden" name="ie" value="UTF-8" />
				<input class="submit" type="submit" name="sa" value="Search" />
				<input class="textbox" type="text" name="q" value="Search" onfocus="lucidsite.sbox(this);" onblur="lucidsite.sbox(this);" />
			</form>
		</div>

        <div id="menu">
            <div class="side left"></div>
            <div class="side right"></div>
            <ul>
			    <li><a href="{% url content-index %}">Home</a></li>
    			<li><a href="/download/">Download</a></li>
	    		<li><a href="/documentation/">Documentation</a></li>
		    	<li><a href="{% url blog-index %}">Blog</a></li>
			    <li><a href="{% url forum-index %}">Community</a></li>
    			<li><a href="{% url repository-index %}">Packages</a></li>
	    		<li><a href="http://trac.lucid-desktop.org/">Code</a></li>
		    </ul>
        </div>
    </div>
	{% block main %}
	{% endblock %}
   	<div id="footer" class="content-separate">
	    <div class="text">
		    © 2006-{% now "Y" %} Dojo Foundation<br />
    		All Rights Reserved
   		</div>
   	</div>
</div>
{% endblock %}
