{% extends "base.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss/weblog/" />
<script type="text/javascript">
	dojo.require("lucidsite.blog");
</script>
{% endblock %}

{% block title %} - Blog{% endblock %}

{% block main %}
<div class="content withsidebar">
    <div class="sidebar">
	    <h2>Archives</h2>
    	{% include "blog/archive_list.html" %}
	    <h2>Feeds</h2>
        <a href="/rss/weblog/" class="nofloat" rel="nofollow">
            {% include "rssbutton.html" %}
        </a>
    </div>
    <div class="center">
    	{% block content %}
        {% endblock %}
    </div>
    <div class="content-bottom"></div>
</div>
{% endblock %}
